{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket;
    $(document).ready(function(){
        socket = io.connect('http://' + document.domain + ':' + location.port );
        socket.on('connect', function() {
            socket.emit('joined', {});
        });
        socket.on('status', function(data) {
            $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
        });
        socket.on('gameobject', function(data) {
            $('#showgame').val($('#showgame').val() + data.msg + '\n');
            $('#showgame').scrollTop($('#showgame')[0].scrollHeight);
        });
        socket.on('message', function(data) {
            $('#chat').val($('#chat').val() + data.msg + '\n');
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
        });
        $('#text').keypress(function(e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                text = $('#text').val();
                $('#text').val('');
                socket.emit('text', {msg: text});
            }
        });
    });
    function leave_room() {
        socket.emit('left', {}, function() {
            socket.disconnect();

            // go back to the login page
            window.location.href = "{{ url_for('games.index') }}";
        });
    }
</script>

    <h1>game view</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>game_object_pos_msg logId: {{ room }}</h2>
            <textarea id="chat" class="col-md-10" rows="10"></textarea><br><br>
            <textarea id="showgame" class="col-md-10" rows="30"></textarea><br><br>
            <input id="text"  placeholder="Enter your message here"><br><br>
            <a href="#" onclick="leave_room();">Leave this room</a>
            <!-- <form id="emit" method="POST" action='#'>
                <input type="text" name="emit_data" id="emit_data" placeholder="Message">
                <input type="submit" value="Echo">
            </form>
            <form id="broadcast" method="POST" action='#'>
                <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
                <input type="submit" value="broadcast">
            </form>
            <div id='log'></div> -->
        </div>
        <div class="col-md-4">
            <div>{% include '/games/editor.html' %}</div>
            <br>
            <div>{% include '/games/comment_code.html' %}</div>
        </div>
    </div>
    
{% endblock %}
